<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="container">
    <hr/>
    <div class="row">
      <h1>HOME</h1>
    </div> <!-- row -->
    <hr/>
  </div>
</body>
</html>
