<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <hr>
  <div class="row">
    <h1>Aykut Asil</h1>
  </div> <!-- row -->

</div>


</body>
</html>
